<form method="POST">
    {% csrf_token %}
    {% for field in formulario %}
        <div class="form-group">
            {{ field }}
        </div>
        <div class="error">
            {{ field.errors }}
        </div>
    {% endfor %}
    {% for message in messages %}
        <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
    {% endfor %}
    <input type="submit" value="Guardar" class="btn btn-success">
    <a href="{{ model.get_absolute_url }}"><input class="btn btn-warning" type="button" value="Cancel"></a>
</form>