{% extends './base_administracion.html' %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Unidades de Medida</h1>
        <a href="{% url 'rct:crear_med_admin' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa-solid fa-plus"></i> Crear Medida</a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Unidad de Medida</th>
                            <th>Acciones</th>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Unidad de Medida</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for medida in medidas %}
                            <tr>
                                <td>{{ medida.id }}</td>
                                <td>{{ medida.nombre_medida }}</td>
                                <td>
                                    <a href="" title="Editar" class="btn-circle btn-warning"><i class="fas fa-pencil"></i></a>
                                    <a href="" title="Eliminar" class="btn-circle btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}