{% extends './base_administracion.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Mensaje</h1>
    </div>
    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Asunto: {{ mensaje.subject }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Acciones:</div>
                    <a class="dropdown-item" href="{% url 'rct:crear_mensaje' %}">Responder</a>
                    <a class="dropdown-item" href="{% url 'rct:mensaje_no_leido' mensaje.id %}">Marcar como NO leido</a>
                    <a class="dropdown-item" href="{% url 'rct:eliminar_mensaje' mensaje.id %}">Eliminar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'rct:mensajes' %}">Volver</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <p>Remitente: {{ mensaje.sender }}</p>
            <p>Fecha de envío: {{ mensaje.created_at }}</p>
            <div class="dropdown-divider"></div>
            <p>Mensaje:</p>
            <p>{{ mensaje.msg_content }}</p>
        </div>
    </div>
</div>
{% endblock content %}