{% extends './base.html' %}

{% block titulo %}recetArio - Contacto{% endblock titulo %}

{% block contenido %}
<br>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        
        <div class="section-header">
        <h2>Contacto</h2>
        <p>¿Necesitas Ayuda? <span>Contactanos</span></p>
        </div>

        

        <div class="row gy-4">

        <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
                <h3>Nuestra Dirección</h3>
                <p>Calle Falsa 123, Springfield, OH 535022</p>
            </div>
            </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
                <h3>Envianos un Email</h3>
                <p>contact@example.com</p>
            </div>
            </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
                <h3>Llamanos</h3>
                <p>+54 911 4078 2565</p>
            </div>
            </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
                <h3>Horarios</h3>
                <div><strong>Lun-Sab:</strong> 9AM - 9PM;
                <strong>Domingos:</strong> Cerrado
                </div>
            </div>
            </div>
        </div><!-- End Info Item -->

        </div>
        
        <form action="{% url 'contact' %}" method="POST" id="contact-form" name="contact-form" class="php-email-form p-3 p-md-4">
        {% csrf_token %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center" role="alert">{{ message }}</div>
            {% endfor %}
            <div class="row">
                {% for campo in contacto_form %}
                    <div class="form-group">
                        {{ campo }}
                    </div>
                    <div class="error">
                        {{ campo.errors }}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center"><button type="submit">Enviar Mensage</button></div>
        </form>
        <!--End Contact Form -->

    </div>
    </section><!-- End Contact Section -->
    {% endblock contenido %}