{% extends './base.html' %}

{% block titulo %}recetArio - Edición{% endblock titulo %}

{% block contenido %}
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Ingrediente</h2>
            <p>Editá <span>el</span> Ingrediente</p>
        </div>
        <form action="." method="POST" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <div class="row mb-2">
                {% for field in formulario %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            {% for message in messages %}
                <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
            {% endfor %}
            <input type="submit" value="Guardar" class="btn btn-success">
            <a href=""><input class="btn btn-warning" type="button" value="Cancelar"></a>
        </form>
    </div>
</section>
{% endblock contenido %}