{% extends './base.html' %}

{% block titulo %}recetArio - Edición{% endblock titulo %}

{% block contenido %}
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Receta</h2>
            <p>Editá <span>la</span> Receta</p>
        </div>
        <form action="" method="POST" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            {% include 'rct/public/form_complex.html' %}
        </form>
    </div>
</section>
{% endblock contenido %}