  <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
            <h4>Dirección</h4>
            <p>
                Calle Falsa 123 <br>
                Springfield, OH 535022 - US<br>
            </p>
            </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
            <h4>Contacto</h4>
            <p>
                <strong>Telefono:</strong> +54 911 4078 2565<br>
                <strong>Email:</strong> info@example.com<br>
            </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-clock icon"></i>
            <div>
            <h4>Hourarios de atención</h4>
            <p>
                <strong>Lun-Sab: 9AM</strong> - 9PM<br>
                Domingo: Cerrado
            </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
            <h4>Seguinos</h4>
            <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
        &copy; Copyright <strong><span>recetARIO</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://github.com/nicoCalde">@nicoCalde</a>
        </div>
    </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    