<div class="row mb-2">
    {% for field in formulario %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>
        <div class="error">
            {{ field.errors }}
        </div>
    {% endfor %}
</div>
{% for message in messages %}
    <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
{% endfor %}
<input type="submit" value="Guardar" class="btn btn-success">
<a href="{% url 'mis_recetas' %}"><input class="btn btn-warning" type="button" value="Cancelar"></a>
