{% extends './base.html' %}

{% block titulo %}recetArio - Recetas{% endblock titulo %}

{% block contenido %}
<br>
<!-- ======= Recipes Section ======= -->
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Recetario</h2>
            <p>Nuestras <span>Recetas</span> Disponibles</p>
            <h2>| <a href="{% url 'rct:crear_receta' %}"><i class="bi bi-file-earmark-plus" style="font-size: 1.5rem"></i></a> |</h2>
        </div>
        <form action="{% url 'rct:guardar_receta' receta.id %}" method="POST" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <h4>¿Querés guardar la receta "{{ receta.nombre_receta }}"?</h4>
            {{ formulario }}
            <input type="submit" value="Si" class="btn btn-success">
            <a href="{% url 'rct:recetas' %}"><input class="btn btn-warning" type="button" value="No"></a>
        </form>
        {% comment %} {% if recetas|length > 0 %}
            <div class="row gy-4">
                {% for receta in recetas %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="{{ receta.imagen_receta.url }}" class="img-fluid" alt="{{receta.nombre_receta}}">
                                <div class="social">
                                    {% if request.user == receta.fkuser %}
                                    <a href="{{ receta.get_edit_url }}"><i class="bi bi-pen"></i></a>
                                    <a href="{{ receta.get_delete_url }}"><i class="bi bi-trash"></i></a>
                                    {% endif %}
                                    {% if request.user != receta.fkuser and archivo.fkuser != request.user %}
                                    <a href="{{ archivo.get_absolute_url }}"><i class="bi bi-plus"></i></a>
                                    {% endif %}
                                    {% if request.user != receta.fkuser and archivo.fkuser == request.user %}
                                    <a href="{{ receta.get_delete_url }}"><i class="bi bi-eraser"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="member-info">
                                <a href="{{ receta.get_absolute_url }}"><h4>{{receta.nombre_receta}}</h4></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>  {% endcomment %}
</section><!-- End Recipes Section -->
{% endblock contenido %}