{% extends './base.html' %}

{% block titulo %}recetArio - Guardar{% endblock titulo %}

{% block contenido %}
<br>
<!-- ======= Save Section ======= -->
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Recetario</h2>
            <p>Guardando la <span>Receta</span> que elegiste</p>
        </div>
        <form action="{% url 'rct:guardar_receta' receta.id %}" method="POST" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <h4>¿Querés guardar la receta "{{ receta.nombre_receta }}"?</h4>
            {{ formulario }}
            <input type="submit" value="Si" class="btn btn-success">
            <a href="{% url 'rct:recetas' %}"><input class="btn btn-warning" type="button" value="No"></a>
        </form>
    </div>
</section><!-- End Save Section -->
{% endblock contenido %}