{% extends './base.html' %}

{% block titulo %}recetArio - Log In{% endblock titulo %}

{% block contenido %}
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        
        <div class="section-header">
            <h2>Ingreso</h2>
            <p>Log <span>In</span></p>
        </div>
        <form action="{% url 'mis_recetas' %}" method="post" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <div class="row">
                {% for field in login_form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            {% for message in messages %}
            <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
            {% endfor %}
            <div class="text-center"><button type="submit">Ingresar</button></div>
            <div class="text-center">¿No tenes cuenta? <a href="{% url 'registro' %}">Registrate</a></div>
        </form>
    </div>
</section><!-- End Login Section -->    

{% endblock contenido %}