{% extends './base.html' %}

{% block titulo %}recetario - Tus Recetas{% endblock titulo %}

{% block contenido %}
<br>
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Recetario</h2>
        {% if recetas|length <= 0 %}
            <p>buscá o creá <span>recetas</span> para comenzar</p>
        </div>
        <div class="hero text-center" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'rct:recetas' %}" class="btn-book-a-table"><i class="bi bi-search"></i> Busca una receta</a>
            <a href="{% url 'rct:crear_receta' %}" class="btn-book-a-table"><i class="bi bi-pencil-square"></i> Crea tu receta</a>          
        </div>
        {% endif %}
        {% if recetas|length > 0 %}
            <p>Tus <span>Recetas</span> Guardadas</p>
        </div>
            <div class="row gy-4">
                {% for receta in recetas %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="https://picsum.photos/id/{{ forloop.counter|add:520 }}/400/250" class="img-fluid" alt="{{mireceta.nombre_receta}}">
                                <div class="social">
                                    <a href="{% url 'rct:crear_receta' %}"><i class="bi bi-plus"></i></a>
                                    <a href="{% url 'rct:editar_receta' %}"><i class="bi bi-pen"></i></a>
                                    <a href=""><i class="bi bi-eraser"></i></a>
                                    <a href="{% url 'rct:eliminar_receta' %}"><i class="bi bi-trash"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <a href=""><h4>{{ receta.nombre_receta }}</h4></a>
                            </div>
                        </div>
                    </div><!-- End Chefs Member -->
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section><!-- End Chefs Section -->
{% endblock contenido %}