{% extends './base.html' %}

{% block titulo %}recetario - Tus Recetas{% endblock titulo %}

{% block contenido %}
<br>
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">
        {% if recetas|length <= 0 and archivo|length <= 0 %}
        <div class="section-header">
            <h2>Recetario</h2>
            <p>creá <span>recetas</span> para comenzar</p>
        </div>
        <div class="hero text-center" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'rct:crear_receta' %}" class="btn-book-a-table"><i class="bi bi-pencil-square"></i> Crea tu receta</a>          
        </div>
        {% endif %}
        {% if recetas|length > 0 %}
        <div class="section-header">
            <h2>Recetario</h2>
            <p>Tus <span>Recetas</span> Creadas</p>
            <h2>| <a href="{% url 'rct:crear_receta' %}" title='Crear Receta'><i class="bi bi-file-earmark-plus" style="font-size: 1.5rem"></i></a> |</h2>
        </div>
            <div class="row gy-4">
                {% for receta in recetas %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="{{ receta.imagen_receta.url }}" class="img-fluid" alt="{{receta.nombre_receta}}">
                                <div class="social">
                                    {% if request.user == receta.fkuser %}
                                        <a href="{{ receta.get_edit_url }}" title='Editar'><i class="bi bi-pen"></i></a>
                                        <a href="{{ receta.get_delete_url }}" title='Eliminar'><i class="bi bi-trash"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="member-info">
                                <a href="{{ receta.get_absolute_url }}"><h4>{{ receta.nombre_receta }}</h4></a>
                            </div>
                        </div>
                    </div><!-- End created receipe list -->
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock contenido %}