{% extends './base.html' %}

{% block titulo %}recetArio - Resetear Contraseña{% endblock titulo %}

{% block contenido %}
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        
        <div class="section-header">
            <h2>Cuenta</h2>
            <p>Contraseña <span>Reseteada</span></p>
        </div>
        <form method="POST" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <div class="row">
                <div class="form-group">
                    <p>La clave fue creada con exito. Ya podés ingresar normalmente:</p>
                </div>
            </div>
            <div class="text-center mt-3"><a href="{% url 'rct:login' %}"><input class='btn btn-danger' value="Log In"></a></div>
        </form>
    </div>
</section><!-- End Login Section -->    

{% endblock contenido %}