{% extends './base.html' %}

{% block titulo %}recetArio - Resetear Contraseña{% endblock titulo %}

{% block contenido %}
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        
        <div class="section-header">
            <h2>Cuenta</h2>
            <p>Resetear <span>Contraseña</span></p>
        </div>
        <form method="POST" role="form" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            {% for message in messages %}
            <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
            {% endfor %}
            <div class="text-center mt-3"><button type="submit" name='send email'>Enviar</button></div>
        </form>
    </div>
</section><!-- End Login Section -->    

{% endblock contenido %}