{% extends './base.html' %}

{% block titulo %}recetArio - Resetear Contraseña{% endblock titulo %}

{% block contenido %}
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        
        <div class="section-header">
            <h2>Cuenta</h2>
            <p>Resetear <span>Contraseña</span></p>
        </div>
        <form method="POST" role="form" class="php-email-form p-3 p-md-4">
            <div class="row">
                <div class="form-group">
                    <p>Te enviamos un email con un link para que puedas configurar tu contraseña. Deberias recibirlo a la brevedad.</p> 
                    <p>Si no recibiste un mail, por favor asegurarte de haber ingresado el email con el cual te registraste y revisá la carpeta de spam.</p>
                </div>
            </div>
        </form>
    </div>
</section><!-- End Login Section -->    

{% endblock contenido %}