{% extends './base.html' %}

{% block titulo %}recetArio - Recetas{% endblock titulo %}

{% block contenido %}
<br>
<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Recetario</h2>
            <p>Nuestras <span>Recetas</span> Disponibles</p>
        </div>
        {% if recetas|length > 0 %}
        <div class="row gy-4">
            {% for receta in recetas %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                    <div class="member-img">

                        <img src="{{ recetas.imagen }}" class="img-fluid" alt="{{ recetas.nombre_receta }}">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <a href="{% url 'receta' %}"><h4>{{ recetas.nombre_receta }}</h4></a>
                        <span>{{ recetas.tipo_receta }}</span>
                        <p>{{ recetas.productos_necesarios }}</p>
                    </div>
                    </div>
                </div><!-- End Chefs Member -->
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section><!-- End Chefs Section -->
{% endblock contenido %}