{% extends './base.html' %}

{% block titulo %}recetArio - Nombre receta{% endblock titulo %}

{% block contenido %}
{% load static %}
<br>
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">
        <!-- podria poner un boton editar receta para las que pueden ser editables video 59 min 7:32 -->
        <div class="section-header">
            <h2>Receta</h2>
            <p>{{ receta.nombre_receta }}<span>...</span></p> 
        </div>
        <div class="col-lg-4 menu-item">
            <a href="" class="glightbox"><img src="{{ receta.imagen_receta.url }}" class="menu-img img-fluid" alt="{{ receta.nombre_receta }}"></a>
            {% for ingrediente in ingredientes  %}
                <p class="ingredients">{{ ingrediente.fkproductos }} {{ ingrediente.cantidad }} {{ ingrediente.fkunidad_medida }} </p>
            {% endfor %}
            <p class="ingredients">{{ receta.pasos_receta }}</p> 
        </div><!-- recipe end -->
    </div>
</section>  
{% endblock contenido %}