{% extends './base.html' %}

{% block titulo %}recetArio - Nombre receta{% endblock titulo %}

{% block contenido %}
{% load static %}
<br>
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">
        <!-- podria poner un boton editar receta para las que pueden ser editables video 59 min 7:32 -->
        <div class="section-header">
            <h2>Receta</h2>
            <p>{{ receta.nombre_receta }}<span>...</span></p>
            {% if receta.fkuser == request.user %}
                <h2><a href="{{ receta.get_edit_url }}" title='Editar Receta'><i class="bi bi-pen" style="font-size: 1.5rem"></i></a> | <a href="{{ receta.get_delete_url }}" title='Eliminar Receta'><i class="bi bi-trash" style="font-size: 1.5rem"></i></a></h2>
            {% endif %}
            {% if receta.fkuser != request.user %}
                {% if archivo %}    
                    <h2>| <a href="{{ archivo.get_delete_url }}" title='Borrar Receta'><i class="bi bi-eraser" style="font-size: 1.5rem"></i></a> |</h2>   
                {% else %}
                    <h2>| <a href="{% url 'rct:guardar_receta' receta.id %}" title='Guardar Receta'><i class="bi bi-plus" style="font-size: 1.5rem"></i></a> |</h2>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-lg menu-item">
            <div class="row mb-3 text-center">
                <a href="{{ receta.imagen_receta.url }}" class="glightbox"><img src="{{ receta.imagen_receta.url }}" class="menu-img img-fluid" alt="{{ receta.nombre_receta }}"></a>
            </div>
            <div class="row">
                <h5>Creador: {{ receta.fkuser }}</h5>
                <hr>
                <h5>Tiempo Preparación: {{ receta.tiempo_prep_receta }}</h5>
                <hr>
                <h5>Porciones: {{ receta.porciones_receta }}</h5>
                <hr>
            </div>
            <div class="row">
                <h5>Ingredientes:</h5>
            {% for ingrediente in ingredientes %}
                <p class="ingredients">
                    - {{ ingrediente.fkproductos }} {{ ingrediente.cantidad }} {{ ingrediente.fkunidad_medida }} 
                    {%if receta.fkuser == request.user %}
                    | <a href="{{ ingrediente.get_edit_url }}" title='Editar Ingrediente'><i class="bi bi-pen"></i></a> 
                    <a href="{{ ingrediente.get_delete_url }}" title='Eliminar Ingrediente'><i class="bi bi-backspace"></i></a>
                    {% endif %}
                </p>
            {% endfor %}
            <hr>
            </div>
            <div class="row">
                <h5>Instrucciones:</h5>
                <p class="ingredients">{{ receta.pasos_receta }}</p>
                <hr>
            </div>
        </div><!-- recipe end -->
    </div>
</section>  
{% endblock contenido %}