{% extends './base.html' %}

{% block titulo %}recetArio - Registro{% endblock titulo %}

{% block contenido %}
<br>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        
        <div class="section-header">
            <h2>Registro</h2>
            <p>Crea tu cuenta para poder <span>comenzar</span></p>
        </div>
        <form action="{% url 'registro' %}" method="POST" class="php-email-form p-3 p-md-4">
            {% csrf_token %}
            <div class="row">
                {% for field in register_form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            
            <div class="text-center"><button type="submit">Enviar</button></div>
            <div class="text-center">¿Tenes cuenta? <a href="{% url 'login' %}">Log In</a></div>
        </form><!--End Register Form -->
    </div>
</section><!-- End Register Section -->
{% endblock contenido %}